@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
    margin-right: 8%;
    margin-left: 8%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 80px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: -80px;
    margin-bottom: 15px;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 70%,
            rgba(255, 255, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.heroImg {
    position: absolute;
    top: 0;
    right: 0px;
    top: 75px;
    width: 400px;
    height: auto;
    z-index: 1;
    animation: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }

}

.description {
    font-size: 25px;
    margin-bottom: 44px;
}

.contactBtn {
    text-decoration: none;
    color: var(--color-text);
    background-color: transparent;
    border: 2px solid var(--color-text);
    font-size: 26px;
    font-weight: 900;
    border-radius: 100px;
    padding: 9px 12px;
    box-shadow: 0, 0, 4px, 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.contactBtn:hover {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: 2px solid var(--color-primary);
}

.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-width: 350px;
    top: -190px;
    left: -20vw;
    border: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottBlur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-width: 250px;
    top: 280px;
    left: 20vw;
    border: 764px;
    background: rgba(25, 54, 109, 0.767);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .title {
        text-align: center;
        font-size: 45px;
        font-family: Poppins;
        margin-top: 20px;
    }

    .content{
        align-items: center;
    }

    .description{
        text-align: center;
    }

    .heroImg{
        width: 59%;
        position: relative;
        margin-top: 100px;
    }

    /* saya ingin bottBlur tidak menggeser keluar konten, jadi pas dengan layar tapi tidak dihilangkan */
    .bottBlur{
        position: absolute;
        right: 0;
        margin-top: 100px;
        
    }
}             