@import "./vars.css";

.App {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    color: white;
}

.scrollToTopContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transform: translateY(-1000px);
    transition: transform 0.5s ease-in-out;
}

.scrollToTopContainer.show {
    transform: translateY(0);

}

.scrollToTop {
    padding: 10px 20px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.scrollToTop:hover {
    opacity: 1;
}